@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #F5F5F5;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 800px);
    grid-template-rows: repeat(2, 600px);
    gap: 10px;
    justify-items: center;
    justify-content: center;

  }





main > section:first-of-type > div > article { 
    background: url("../img/oficina.png");
    content: "";
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    width: 600px;
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}



a {
    border: red solid;
    border-radius: 10px;
    padding: 8px 22px;
    background-color: red;
    color: white;
    text-decoration: none;  
    background-size: auto;
}

.item-post {
    text-align: justify;
    margin-top: 100px;
    position: relative;
    top: 30%;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    left: 8%;
    padding: 10px;
    padding-bottom: 20px;
    
}

.item-post > p:first-of-type {
    margin-left: 0%;
    border-left: red 3px solid;
}

a::after{
    background: url("../img/arrow.png");
    content: "";
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    height: 10px;
    width: 20px;
    background-size: cover;
    background-position: center;
}
